# CMake files
CMakeCache.txt
CMakeFiles*/*
CMakeLists.txt
cmake_install.cmake
Makefile

Build
Build/*

CPUTest

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
